<div class="card border-primary">
  <div class="card-header bg-primary">
    <h1 class="text-white">Product List</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <label for="">Filter by:</label>
      </div>
      <div class="col-9">
        <input type="text" #filterbox name="filter" (keyup)="setFilter(filterbox.value)">
      </div>
    </div>
    <div class="row">
      <div class="col-3">
          <h3>Filtered by:</h3>
      </div>
      <div class="col-9">
        {{filter}}
      </div>
    </div>
    <div class="row col-12">
      <table class="table text-center">
        <thead>
          <tr>
            <th scope="col"><button class="btn btn-primary" (click)="this.toggleImages()">{{this.message}}</button></th>
            <th scope="col">
              <h5 class="text-primary">Product</h5>
            </th>
            <th scope="col">
              <h5 class="text-primary">Code</h5>
            </th>
            <th scope="col">
              <h5 class="text-primary">Available</h5>
            </th>
            <th scope="col">
              <h5 class="text-primary">Price</h5>
            </th>
            <th scope="col">
              <h5 class="text-primary">Star Rating</h5>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredData">
            <td><img src="{{product.imageUrl}}" *ngIf="this.hidden" width="50px" /></td>
            <td><h5>{{product.productName}}</h5></td>
            <td><h5>{{product.productCode}}</h5></td>
            <td><h5>{{product.releaseDate}}</h5></td>
            <td><h5>{{product.price}}</h5></td>
            <td><h5>{{product.starRating}}</h5></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>